
h4 {
    padding-top: 30px;
    width: 200px;
    margin: auto;
}

iframe {
    margin-top: 20px;
    width: 100%;
}

.row {
   padding-top: 30px;
   width: 190px;
    margin: auto;
    font-weight: bold;
}

h1 {

    width: 210px;
    margin: auto;
}
